{% extends "web/base.html" %}
{% block content %}
{% if status %}
    <div class="container" style="text-align:center;">
        <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 100px; color:green; align:center"></i>
    </div>
    <h1 style="text-align:center;">Your Payment was Successful</h1>
{% else %}
    <h1 style="text-align:center;">Payment Failed</h1>
{% endif %}
    <div class="text-center mt-5">
        <a href="{% url 'donate' %}" class="btn btn-primary" role="button">Again</a>
    </div>
    <br><br><br><br>
{% endblock content %}