{% extends "web/base.html" %}
{% block content %}
    <h1>About</h1>
    What is the first thing we observe when we meet someone new?<br>
    Their appearance. Well, visuals appeal to everyone. Even when it comes to businesses as well as corporate connections, visuals are what set brands apart.<br><br>
In the current digital world, it is beyond necessary to make a powerful first impression. <br>A virtual business card can be an effective way to network your way to the top. <br> A virtual business card is a perfect tool to master the art of networking. Yourvcard.com is your perfect partner to make one.
A virtual business card helps you create a distinct identity in the business world. An acquaintance with your business card will not just contact you but also refer you to their contacts for work. The best part? Digital cards never get discarded. Once it’s shared, it’s inside a database. 
Your brand needs to stand out in terms of quality, creativity, innovation, and service. However, your service is of no use unless it is known to people. To create a powerful first impression, you must design an effective virtual card.
<br>This website lets you design a business card that contains not just your contact details but also information about your work. You can even use virtual cards to attach a portfolio.<br><br><br>

{% endblock content %}